
/* TRY */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
}

#main{
    width: 100%;
    height: 100vh;
}

.heading {
    color: rebeccapurple;
     background-color: palegreen; 
    padding: 10px 0px;
    text-align: center;
} 

 .input-area{

    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    padding: 15px 0;
} 

 input {
    width: 70%;
    padding: 5px 0px;
    border-radius: 2px;
}

input::placeholder{
    padding-left: 20px;
} 

 button {
    padding: 5px 20px;
     margin-right: 10px;
    margin-left: 10px;
     border: 1px solid orange; 
     background-color: #050A30;
    color: white;
    border-radius: 2px;
    cursor: pointer;
} 

#list-container {
    width: 100%;
    height: auto;
    background-color: #000C66;
    padding: 20px 0px;
} 
 .container-title {

    color: white;
    text-align: center;
    text-decoration: underline;
   margin-bottom: 20px;
    
}  

 .container-title p{
    display: inline-block;
    position: relative;


} 

p::after{
    display: inline-block;  
     position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    bottom: -7px;
    right: 0;

}  

 #list-container li{
    padding: 5px 20px;
    color: white;
    position: relative;

} 

 #list-container .complete{
    list-style: none;
    background-color: plum;
    text-decoration: line-through;
    text-align: center;
    border-radius: 3px;
    color: black;
    margin-bottom: 2px;
    position: relative;
} 


 .cross {
    position: absolute;
    top: 4px;
    right: 20px;
    cursor: pointer;
} 

